{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel='stylesheet' href='{% static "css/index.css" %}'>
    <link rel='stylesheet' href='{% static "css/password_change_form.css" %}'>
{% endblock %}

{% block page_title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="password-change" id='password-change'>
  <h1>Forgot your password?</h1>
  <p>Change your Password below!</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password">
  </form>
</div>
{% endblock %}