{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel='stylesheet' href='{% static "css/index.css" %}'>
    <link rel='stylesheet' href='{% static "css/password_change_form.css" %}'>
{% endblock %}

{% block page_title %}Change Your Password{% endblock %}

{% block content %}
<div class="password-change" id='password-change'>
  <h1>Change Your Password</h1>
  <p>Enter your new password below!</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Change Password">Change Password</button>
  </form>
</div>
{% endblock %}