{% load static %}

{% block footer %}

{% block css_files %}
    <link rel='stylesheet' href='{% static "procoreapi/includes/footer.css" %}'>
{% endblock %}

    <div class="footer" id='footer'>
        <p>Copyright ©</p>
        <p>Core ProManager v1.1</p>
        <form action="{% url 'export_to_excel' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="export_to_excel" id='export_to_excel'>Export to Excel</button>
        </form>
    </div>

{% endblock %}

