{% load static %}

{% block css_files %}
  <link rel='stylesheet' href='{% static "procoreapi/includes/table.css" %}'>
{% endblock %}

{% block table %}
  <div class='table-container' id='table-container'>
    <table class="table" id='table'>
      <thead>    
        <tr>
          <th>Project Name</th>
          <th>Project Number</th>
          <th>Office</th>
          <th>Main Stage (Admin)</th>
          <th>GNI (Admin)</th>
          <th>ESB (Admin)</th>
          <th>WINDOW</th>
          <th>CWI</th>
          <th>OIL BOILER</th>
          <th>OIL TANK</th>
          <th>EWI</th>        
          <th>PLUMBING</th>
          <th>IWI</th>
          <th>AIRTIGHTNESS</th>
          <th>RTV</th>
          <th>MEV</th>
          <th>ATTIC</th>
          <th>DRAUGHTPROOFING</th>
          <th>QC Mid/Final (Admin)</th>
          <th>Project Name</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr id="{{project.project_id}}">
          <td class='headcol' id='headcol'>{{project.project_name}}</td>
          <td>{{project.project_number}}</td>
          <td>{{project.project_office}}</td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
              {% if project.project_stage == 'WHS 010 - Accepted' %}
                <select name="stage" class="lightyellow" id='options' onchange="submit()">
              {% elif project.project_stage == 'WHS 020 - Surveyed' or project.project_stage == 'WHS 030 - Surveyed & Reviewed' or project.project_stage == 'WHS 032 - Allocation Awaiting, Windows or Utilities' or project.project_stage == 'WHS 035 - On Hold | Awaiting Variation' %}
                <select name="stage" class="amber" id='options' onchange="submit()">
              {% elif project.project_stage == 'WHS 041 - On Site Issues delaying' or project.project_stage == 'WHS 070 - Under Audit Reworks' or project.project_stage == 'WHS 080 - Under Audit Reworks Appealed' or project.project_stage == 'WHS 090 - Under Audit  Reworks Submitted' %}
                <select name="stage" class="amber" id='options' onchange="submit()">
              {% elif project.project_stage == 'WHS 050 - Near 100% Completion' or project.project_stage == 'WHS 055 - Focus to Close 75-100%' %}
                <select name="stage" class="lightred" id='options' onchange="submit()">
              {% elif project.project_stage == 'WHS 060 - Under Audit ' or project.project_stage == 'WHS 065 - Ready for SEAI Payment' or project.project_stage == 'WHS 100 - Under Audit  Reworks Accepted' or project.project_stage == 'WHS 100 - Under Audit  Reworks Accepted' %}
                <select name="stage" class="lightblue" id='options' onchange="submit()">
              {% elif project.project_stage == 'WHS 037 - Ready to start ' or project.project_stage == 'WHS 040 - On Site 0-75%' %}
              <select name="stage" class="lightgreen" id='options' onchange="submit()">
              {% else %}
                <select name="stage" class="default" id='options' onchange="submit()">
              {% endif %}
                
              <option class="hidden" id="hidden" hidden>{{ project.project_stage }}</option>
                {% for stages_option in stages_options %}
                <option value="{{ stages_option.project_stage_name }}_{{project.project_id}}" >{{ stages_option.project_stage_name }}</option>
                {% endfor %}
              </select>
            </form> 
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
              {% if project.GNI_STATUS == '020 Pre-Survey' %}
              <select name="gni" class="amber" id='options' onchange="submit()">
              {% elif project.GNI_STATUS == '030 Booked' %}
              <select name="gni" class="lightgreen" id='options' onchange="submit()">
              {% elif project.GNI_STATUS == '040 Complete' or project.GNI_STATUS == '090 READY TO PAY - certs received' or project.GNI_STATUS == '100 Closed and paid' %}
              <select name="gni" class="lightblue" id='options' onchange="submit()">
              {% else %}
              <select name="gni" class="default" id='options' onchange="submit()">
              {% endif %}
                
              <option class="hidden" id="hidden" hidden>{{ project.GNI_STATUS }}</option>
                {% for gni_option in gni_options %}
                <option value="{{gni_option.gni_stage_name}}_{{project.project_id}}">{{ gni_option.gni_stage_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
              {% if project.ESB_STATUS == '020 Pre-Survey' %}
              <select name="esb" class="amber" id='options' onchange="submit()">
              {% elif project.ESB_STATUS == '030 ESB booked' or project.ESB_STATUS == '040 Unclipped' or project.ESB_STATUS == '050 Reclip booked' or project.ESB_STATUS == '060 Reclipped' %}
              <select name="esb" class="lightgreen" id='options' onchange="submit()">
              {% elif project.ESB_STATUS == '070 Complete' %}
              <select name="esb" class="lightblue" id='options' onchange="submit()">
              {% else %}
              <select name="esb" class="default" id='options' onchange="submit()">
              {% endif %}
                
              <option class="hidden" id="hidden" hidden>{{ project.ESB_STATUS }}</option>
                {% for esb_option in esb_options %}
                <option value="{{esb_option.esb_stage_name}}_{{project.project_id}}">{{ esb_option.esb_stage_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
              {% if project.WINDOW_STATUS == '10 OPEN FOR SURVEY' or project.WINDOW_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
              <select name="window" class="lightyellow" id='options' onchange="submit()">
              {% elif project.WINDOW_STATUS == '30 WORK ALLOCATED' or project.WINDOW_STATUS == '70 QC COMPLETE - SNAGS' or project.WINDOW_STATUS == '60 COMPLETE AWAITING QC' %}
              <select name="window" class="amber" id='options' onchange="submit()">
              {% elif project.WINDOW_STATUS == '40 ALLOCATED & VARIATIONS' or project.WINDOW_STATUS == '50 WORK IN PROGRESS' or project.WINDOW_STATUS == '45 Allocated Ready to Start' %}
              <select name="window" class="lightgreen" id='options' onchange="submit()">
              {% elif project.WINDOW_STATUS == '80 QC COMPLETE - PASS' or project.WINDOW_STATUS == '90 PAID & CLOSED' or project.WINDOW_STATUS == '100 CANCELLED CLOSED' or project.WINDOW_STATUS == 'Closed' %}
              <select name="window" class="lightblue" id='options' onchange="submit()">
              {% else %}
              <select name="window" class="default" id='options' onchange="submit()">
              {% endif %}
                
              <option class="hidden" id="hidden" hidden>{{ project.WINDOW_STATUS }}</option>
                {% for window_option in window_options %}
                <option value="{{window_option.window_status_name}}_{{project.project_id}}">{{ window_option.window_status_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}

                {% if project.CWI_STATUS == '10 OPEN FOR SURVEY' or project.CWI_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="cwi" class="lightyellow" id='options' onchange="submit()">
                {% elif project.CWI_STATUS == '30 WORK ALLOCATED' or project.CWI_STATUS == '70 QC COMPLETE - SNAGS' or project.CWI_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="cwi" class="amber" id='options' onchange="submit()">
                {% elif project.CWI_STATUS == '40 ALLOCATED & VARIATIONS' or project.CWI_STATUS == '50 WORK IN PROGRESS' or project.CWI_STATUS == '45 Allocated Ready to Start' %}
                <select name="cwi" class="lightgreen" id='options' onchange="submit()">
                {% elif project.CWI_STATUS == '80 QC COMPLETE - PASS' or project.CWI_STATUS == '90 PAID & CLOSED' or project.CWI_STATUS == '100 CANCELLED CLOSED' or project.CWI_STATUS == 'Closed' %}
                <select name="cwi" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="cwi" class="default" id='options' onchange="submit()">
                {% endif %}
                
                <option class="hidden" id="hidden" hidden>{{ project.CWI_STATUS }}</option>
                {% for cwi_option in cwi_options %}
                <option value="{{cwi_option.cwi_status_name}}_{{project.project_id}}">{{ cwi_option.cwi_status_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}

                {% if project.OIL_BOILER_STATUS == '10 OPEN FOR SURVEY' or project.OIL_BOILER_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="oil_boiler" class="lightyellow" id='options' onchange="submit()">
                {% elif project.OIL_BOILER_STATUS == '30 WORK ALLOCATED' or project.OIL_BOILER_STATUS == '70 QC COMPLETE - SNAGS' or project.OIL_BOILER_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="oil_boiler" class="amber" id='options' onchange="submit()">
                {% elif project.OIL_BOILER_STATUS == '40 ALLOCATED & VARIATIONS' or project.OIL_BOILER_STATUS == '50 WORK IN PROGRESS' or project.OIL_BOILER_STATUS == '45 Allocated Ready to Start' %}
                <select name="oil_boiler" class="lightgreen" id='options' onchange="submit()">
                {% elif project.OIL_BOILER_STATUS == '80 QC COMPLETE - PASS' or project.OIL_BOILER_STATUS == '90 PAID & CLOSED' or project.OIL_BOILER_STATUS == '100 CANCELLED CLOSED' or project.OIL_BOILER_STATUS == 'Closed' %}
                <select name="oil_boiler" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="oil_boiler" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.OIL_BOILER_STATUS }}</option>
                {% for oil_boiler_option in oil_boiler_options %}
                <option value="{{oil_boiler_option.oil_boiler_status_name}}_{{project.project_id}}">{{ oil_boiler_option.oil_boiler_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}

                {% if project.OIL_TANK_STATUS == '10 OPEN FOR SURVEY' or project.OIL_TANK_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="oil_tank" class="lightyellow" id='options' onchange="submit()">
                {% elif project.OIL_TANK_STATUS == '30 WORK ALLOCATED' or project.OIL_TANK_STATUS == '70 QC COMPLETE - SNAGS' or project.OIL_TANK_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="oil_tank" class="amber" id='options' onchange="submit()">
                {% elif project.OIL_TANK_STATUS == '40 ALLOCATED & VARIATIONS' or project.OIL_TANK_STATUS == '50 WORK IN PROGRESS' or project.OIL_TANK_STATUS == '45 Allocated Ready to Start' %}
                <select name="oil_tank" class="lightgreen" id='options' onchange="submit()">
                {% elif project.OIL_TANK_STATUS == '80 QC COMPLETE - PASS' or project.OIL_TANK_STATUS == '90 PAID & CLOSED' or project.OIL_TANK_STATUS == '100 CANCELLED CLOSED' or project.OIL_TANK_STATUS == 'Closed' %}
                <select name="oil_tank" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="oil_tank" class="default" id='options' onchange="submit()">
                {% endif %}
              
                <option class="hidden" id="hidden" hidden>{{ project.OIL_TANK_STATUS }}</option>
                {% for oil_tank_option in oil_tank_options %}
                <option value="{{oil_tank_option.oil_tank_status_name}}_{{project.project_id}}">{{ oil_tank_option.oil_tank_status_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.EWI_STATUS == '10 OPEN FOR SURVEY' or project.EWI_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="ewi" class="lightyellow" id='options' onchange="submit()">
                {% elif project.EWI_STATUS == '30 WORK ALLOCATED' or project.EWI_STATUS == '70 QC COMPLETE - SNAGS' or project.EWI_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="ewi" class="amber" id='options' onchange="submit()">
                {% elif project.EWI_STATUS == '40 ALLOCATED & VARIATIONS' or project.EWI_STATUS == '50 WORK IN PROGRESS' or project.EWI_STATUS == '45 Allocated Ready to Start' %}
                <select name="ewi" class="lightgreen" id='options' onchange="submit()">
                {% elif project.EWI_STATUS == '80 QC COMPLETE - PASS' or project.EWI_STATUS == '90 PAID & CLOSED' or project.EWI_STATUS == '100 CANCELLED CLOSED' or project.EWI_STATUS == 'Closed' %}
                <select name="ewi" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="ewi" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.EWI_STATUS }}</option>
                {% for ewi_option in ewi_options %}
                <option value="{{ewi_option.ewi_status_name}}_{{project.project_id}}">{{ ewi_option.ewi_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}

                {% if project.PLUMBING_STATUS == '10 OPEN FOR SURVEY' or project.PLUMBING_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="plumbing" class="lightyellow" id='options' onchange="submit()">
                {% elif project.PLUMBING_STATUS == '30 WORK ALLOCATED' or project.PLUMBING_STATUS == '70 QC COMPLETE - SNAGS' or project.PLUMBING_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="plumbing" class="amber" id='options' onchange="submit()">
                {% elif project.PLUMBING_STATUS == '40 ALLOCATED & VARIATIONS' or project.PLUMBING_STATUS == '50 WORK IN PROGRESS' or project.PLUMBING_STATUS == '45 Allocated Ready to Start' %}
                <select name="plumbing" class="lightgreen" id='options' onchange="submit()">
                {% elif project.PLUMBING_STATUS == '80 QC COMPLETE - PASS' or project.PLUMBING_STATUS == '90 PAID & CLOSED' or project.PLUMBING_STATUS == '100 CANCELLED CLOSED' or project.PLUMBING_STATUS == 'Closed' %}
                <select name="plumbing" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="plumbing" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.PLUMBING_STATUS }}</option>
                {% for plumbing_option in plumbing_options %}
                <option value="{{plumbing_option.plumbing_status_name}}_{{project.project_id}}">{{ plumbing_option.plumbing_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.IWI_STATUS == '10 OPEN FOR SURVEY' or project.IWI_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="iwi" class="lightyellow" id='options' onchange="submit()">
                {% elif project.IWI_STATUS == '30 WORK ALLOCATED' or project.IWI_STATUS == '70 QC COMPLETE - SNAGS' or project.IWI_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="iwi" class="amber" id='options' onchange="submit()">
                {% elif project.IWI_STATUS == '40 ALLOCATED & VARIATIONS' or project.IWI_STATUS == '50 WORK IN PROGRESS' or project.IWI_STATUS == '45 Allocated Ready to Start' %}
                <select name="iwi" class="lightgreen" id='options' onchange="submit()">
                {% elif project.IWI_STATUS == '80 QC COMPLETE - PASS' or project.IWI_STATUS == '90 PAID & CLOSED' or project.IWI_STATUS == '100 CANCELLED CLOSED' or project.IWI_STATUS == 'Closed' %}
                <select name="iwi" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="iwi" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.IWI_STATUS }}</option>
                {% for iwi_option in iwi_options %}
                <option value="{{iwi_option.iwi_status_name}}_{{project.project_id}}">{{ iwi_option.iwi_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.AIRTIGHTNESS_STATUS == '10 OPEN FOR SURVEY' or project.AIRTIGHTNESS_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="airtightness" class="lightyellow" id='options' onchange="submit()">
                {% elif project.AIRTIGHTNESS_STATUS == '30 WORK ALLOCATED' or project.AIRTIGHTNESS_STATUS == '70 QC COMPLETE - SNAGS' or project.AIRTIGHTNESS_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="airtightness" class="amber" id='options' onchange="submit()">
                {% elif project.AIRTIGHTNESS_STATUS == '40 ALLOCATED & VARIATIONS' or project.AIRTIGHTNESS_STATUS == '50 WORK IN PROGRESS' or project.AIRTIGHTNESS_STATUS == '45 Allocated Ready to Start' %}
                <select name="airtightness" class="lightgreen" id='options' onchange="submit()">
                {% elif project.AIRTIGHTNESS_STATUS == '80 QC COMPLETE - PASS' or project.AIRTIGHTNESS_STATUS == '90 PAID & CLOSED' or project.AIRTIGHTNESS_STATUS == '100 CANCELLED CLOSED' or project.AIRTIGHTNESS_STATUS == 'Closed' %}
                <select name="airtightness" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="airtightness" class="default" id='options' onchange="submit()">
                {% endif %}
              
                <option class="hidden" id="hidden" hidden>{{ project.AIRTIGHTNESS_STATUS }}</option>
                {% for airtightness_option in airtightness_options %}
                <option value="{{airtightness_option.airtightness_status_name}}_{{project.project_id}}">{{ airtightness_option.airtightness_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.RTV_STATUS == '10 OPEN FOR SURVEY' or project.RTV_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="rtv" class="lightyellow" id='options' onchange="submit()">
                {% elif project.RTV_STATUS == '30 WORK ALLOCATED' or project.RTV_STATUS == '70 QC COMPLETE - SNAGS' or project.RTV_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="rtv" class="amber" id='options' onchange="submit()">
                {% elif project.RTV_STATUS == '40 ALLOCATED & VARIATIONS' or project.RTV_STATUS == '50 WORK IN PROGRESS' or project.RTV_STATUS == '45 Allocated Ready to Start' %}
                <select name="rtv" class="lightgreen" id='options' onchange="submit()">
                {% elif project.RTV_STATUS == '80 QC COMPLETE - PASS' or project.RTV_STATUS == '90 PAID & CLOSED' or project.RTV_STATUS == '100 CANCELLED CLOSED' or project.RTV_STATUS == 'Closed' %}
                <select name="rtv" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="rtv" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.RTV_STATUS }}</option>
                {% for rtv_option in rtv_options %}
                <option value="{{rtv_option.rtv_status_name}}_{{project.project_id}}">{{ rtv_option.rtv_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.MEV_STATUS == '10 OPEN FOR SURVEY' or project.MEV_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="mev" class="lightyellow" id='options' onchange="submit()">
                {% elif project.MEV_STATUS == '30 WORK ALLOCATED' or project.MEV_STATUS == '70 QC COMPLETE - SNAGS' or project.MEV_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="mev" class="amber" id='options' onchange="submit()">
                {% elif project.MEV_STATUS == '40 ALLOCATED & VARIATIONS' or project.MEV_STATUS == '50 WORK IN PROGRESS' or project.MEV_STATUS == '45 Allocated Ready to Start' %}
                <select name="mev" class="lightgreen" id='options' onchange="submit()">
                {% elif project.MEV_STATUS == '80 QC COMPLETE - PASS' or project.MEV_STATUS == '90 PAID & CLOSED' or project.MEV_STATUS == '100 CANCELLED CLOSED' or project.MEV_STATUS == 'Closed' %}
                <select name="mev" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="mev" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.MEV_STATUS }}</option>
                {% for mev_option in mev_options %}
                <option value="{{mev_option.mev_status_name}}_{{project.project_id}}">{{ mev_option.mev_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.ATTIC_STATUS == '10 OPEN FOR SURVEY' or project.ATTIC_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="attic" class="lightyellow" id='options' onchange="submit()">
                {% elif project.ATTIC_STATUS == '30 WORK ALLOCATED' or project.ATTIC_STATUS == '70 QC COMPLETE - SNAGS' or project.ATTIC_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="attic" class="amber" id='options' onchange="submit()">
                {% elif project.ATTIC_STATUS == '40 ALLOCATED & VARIATIONS' or project.ATTIC_STATUS == '50 WORK IN PROGRESS' or project.ATTIC_STATUS == '45 Allocated Ready to Start' %}
                <select name="attic" class="lightgreen" id='options' onchange="submit()">
                {% elif project.ATTIC_STATUS == '80 QC COMPLETE - PASS' or project.ATTIC_STATUS == '90 PAID & CLOSED' or project.ATTIC_STATUS == '100 CANCELLED CLOSED' or project.ATTIC_STATUS == 'Closed' %}
                <select name="attic" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="attic" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.ATTIC_STATUS }}</option>
                {% for attic_option in attic_options %}
                <option value="{{attic_option.attic_status_name}}_{{project.project_id}}">{{ attic_option.attic_status_name }}</option>
                {% endfor %}
              </select>
            </form>  
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              
                {% if project.DRAUGHTPROOFING_STATUS == '10 OPEN FOR SURVEY' or project.DRAUGHTPROOFING_STATUS == '20 SURVEYED AWAITING ALLOCATION' %}
                <select name="draughtproofing" class="lightyellow" id='options' onchange="submit()">
                {% elif project.DRAUGHTPROOFING_STATUS == '30 WORK ALLOCATED' or project.DRAUGHTPROOFING_STATUS == '70 QC COMPLETE - SNAGS' or project.DRAUGHTPROOFING_STATUS == '60 COMPLETE AWAITING QC' %}
                <select name="draughtproofing" class="amber" id='options' onchange="submit()">
                {% elif project.DRAUGHTPROOFING_STATUS == '40 ALLOCATED & VARIATIONS' or project.DRAUGHTPROOFING_STATUS == '50 WORK IN PROGRESS' or project.DRAUGHTPROOFING_STATUS == '45 Allocated Ready to Start' %}
                <select name="draughtproofing" class="lightgreen" id='options' onchange="submit()">
                {% elif project.DRAUGHTPROOFING_STATUS == '80 QC COMPLETE - PASS' or project.DRAUGHTPROOFING_STATUS == '90 PAID & CLOSED' or project.DRAUGHTPROOFING_STATUS == '100 CANCELLED CLOSED' or project.DRAUGHTPROOFING_STATUS == 'Closed' %}
                <select name="draughtproofing" class="lightblue" id='options' onchange="submit()">
                {% else %}
                <select name="draughtproofing" class="default" id='options' onchange="submit()">
                {% endif %}

                <option class="hidden" id="hidden" hidden>{{ project.DRAUGHTPROOFING_STATUS }}</option>
                {% for draught_proofing_option in draught_proofing_options %}
                <option value="{{draught_proofing_option.draught_proofing_status_name}}_{{project.project_id}}">{{ draught_proofing_option.draught_proofing_status_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td>
            <form method='post' action="">
              {% csrf_token %}
              {% if project.QC_STATUS == '010 NOT READY FOR MID' %}
              <select name="qc_mid_final" class="lightyellow" id='options' onchange="submit()">
              {% elif project.QC_STATUS == '030 MID COMPLETE - SNAGS FOUND' or project.QC_STATUS == '070 FINAL COMPLETE - SNAGS' or project.QC_STATUS == '080 FINAL COMPLETE SEAI REWORKS' %}
              <select name="qc_mid_final" class="amber" id='options' onchange="submit()">
              {% elif project.QC_STATUS == '020 READY FOR MIDWORKS' or project.QC_STATUS == '050 READY FOR FINAL QC' %}
              <select name="qc_mid_final" class="lightred" id='options' onchange="submit()">
              {% elif project.QC_STATUS == '040 MID COMPLETE - PASS' or project.QC_STATUS == '060 FINAL COMPLETE PASS' %}
              <select name="qc_mid_final" class="lightblue" id='options' onchange="submit()">
              {% else %}
              <select name="qc_mid_final" class="default" id='options' onchange="submit()">
              {% endif %}
                <option class="hidden" id="hidden" hidden>{{ project.QC_STATUS }}</option>
                {% for qc_option in qc_options %}
                <option value="{{qc_option.qc_stage_name}}_{{project.project_id}}">{{ qc_option.qc_stage_name }}</option>
                {% endfor %}
              </select>
            </form>
          </td>
          <td class='headcol' id='headcol'>{{project.project_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <thead>    
        <tr>
          <th>Project Name</th>
          <th>Project Number</th>
          <th>Office</th>
          <th>Main Stage (Admin)</th>
          <th>GNI (Admin)</th>
          <th>ESB (Admin)</th>
          <th>WINDOW</th>
          <th>CWI</th>
          <th>OIL BOILER</th>
          <th>OIL TANK</th>
          <th>EWI</th>        
          <th>PLUMBING</th>
          <th>IWI</th>
          <th>AIRTIGHTNESS</th>
          <th>RTV</th>
          <th>MEV</th>
          <th>ATTIC</th>
          <th>DRAUGHTPROOFING</th>
          <th>QC Mid/Final (Admin)</th>
          <th>Project Name</th>
        </tr>
      </thead>
    </table>
  </div>
{% endblock %}