#table-container {
  overflow: auto;
}

#table {
  width: auto;
  height:min-content;
  max-width: 50rem;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  table-layout: fixed;
  border-spacing: 0.5rem;
  text-align: center;
  position: relative;
}

#table thead {
  font-size: 0.9rem;
  color: #83e6c0;
  position: sticky;
  top: 0;
  z-index: 1;
}

#table tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #000000;
}

.default {
  /* width: 100%; */
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #70b8a7;
  color: #000000;
  font-size: 0.75rem;
}

#headcol {
  background: rgb(153, 149, 194);
  position: sticky;
  left: 0;
}

tbody tr:hover {
  background-color: #2b996d;
}

#table th {
  background: rgb(192, 74, 74);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.lightgreen {
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: rgb(0, 156, 52);
  color: #000000;
  font-size: 0.75rem;
}

.amber {
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #c97350;
  color: #000000;
  font-size: 0.75rem;
}

.lightyellow {
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #adad42;
  color: #000000;
  font-size: 0.75rem;
}

.lightred {
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #b66a6a;
  color: #000000;
  font-size: 0.75rem;
}

.lightblue {
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #6f85b3;
  color: #000000;
  font-size: 0.75rem;
}
