@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf8f9;
  /* background: linear-gradient(#ffffff, #ffdba5); */
  /* background-attachment: fixed; */
  color: #faf8f9;
}

#fallback-text {
  padding: 1rem;
  max-width: 60%;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #41d8dd, #5583ee);
}

#search-filter-text {
  align-content: center;
  padding-left: 10rem;
  color: black;
}
